@model TravelExpenses.ViewModels.SolicitudesViewModel
@{
    ViewData["Title"] = "create";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@*<div>

        @Html.ActionLink("Link","ListarDestinos","Solicitudes")


    @*<partial name="ListarDestinos" model="new TravelExpenses.Core.Destinos { }"/>*@
@*</div>*@
<h1>Solicitudes</h1>


<div class="text-left">
    <div class="card">
        <div class="card-header">
            <a href="~/" class="btn" id="Button">Cerrar</a>
            <input type="Button" value="Guardar" class="btn" id="Button" onclick="RegistrarSolicitud()" />
        </div>
        <div class="card-body ">
            <form id="formSolicitudes">
                <div class="row">

                    <div class="col-4">
                        Concepto
                        <select asp-for="IdTipoSolicitud" class="form-control input-sm Tipo"
                                asp-items="@(new SelectList(Model.Solicitudes, "IdTipoSolicitud", "Descripcion"))">
                            <option value="">--Selecciona un concepto</option>
                        </select> 
                    </div>

                    <div class="col-4">
                        Importe Solicitado
                        <input asp-for="@Model.Solicitud.ImporteSolicitado" required class="form-control" id="Importe" readonly/>
                        <span asp-validation-for="@Model.Solicitud.ImporteSolicitado" class="text-danger"></span>
                    </div>

                    <div class="col-4">
                        @*Moneda(QUITAR)
                        <select asp-for="Moneda.ClaveMoneda" class="form-control input-sm Moneda"
                                asp-items="@(new SelectList(Model.Monedas, "ClaveMoneda", "Descripcion"))">
                            <option value="">--Selecciona una moneda</option>
                        </select>*@

                    </div>

                </div>

            </form>
            <br />
            <div class="container">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Destinos">Destinos</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Listar">Agregar Destinos</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Gastos">Gastos</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div id="Listar" class="container tab-pane fade">
                        <br>
                        @*<partial name="Add" />*@

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    </div>

                    <div id="Destinos" class="container tab-pane active">
                        <form id="FormDestinos">
                            <br>
                            <h3>Destinos</h3>
                            <input type="button" onclick="RegistraDestino()" value="Agregar" class="btn" id="Button" />
                            @*<a class="btn" id="Button" href="#" hidden="@ViewBag.Hidden">Agregar</a>*@
                            <hr />
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <label asp-for="ClavePais" class="control-label">País</label>
                                        <select asp-for="Pais.ClavePais" class="form-control input-sm Pais" onchange="CargaEstados(this.value);" title="--Seleccione un país"
                                                asp-items="@(new SelectList(Model.Paises, "ClavePais", "Nombre"))">
                                            <option value="">--Seleccione un País</option>
                                        </select>
                                        @*<input asp-for="ClavePais" class="form-control" />*@
                                        <span asp-validation-for="ClavePais" class="text-danger">*</span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="IdEstado" class="control-label">Estado</label>
                                        <select asp-for="Estado.IdEstado" class="form-control input-sm" onchange="CargaCiudades(this.value);"
                                                asp-items="@(new SelectList(Model.Estados, "IdEstado", "Descripcion"))" id="Estado">
                                            <option value="">--Seleccione un Estado</option>
                                        </select>

                                        <span asp-validation-for="IdEstado" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="@Model.Destino.IdCiudad" class="control-label">Ciudad</label>
                                        <select asp-for="Ciudad.IdCiudad" class="form-control input-sm"
                                                asp-items="@(new SelectList(Model.Ciudades, "IdCiudad", "Descripcion"))" id="Ciudad">
                                            <option value="">--Seleccione una Ciudad</option>
                                        </select>
                                        <span asp-validation-for="@Model.Destino.IdCiudad" class="text-danger"></span>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label asp-for="@Model.Destino.FechaSalida" class="control-label">Fecha de Salida</label>
                                        <input asp-for="@Model.Destino.FechaSalida" class="form-control" id="FechaSalida" />
                                        <span asp-validation-for="@Model.Destino.FechaSalida" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="@Model.Destino.FechaLlegada" class="control-label">Fecha de llegada</label>
                                        <input asp-for="Destino.FechaLlegada" class="form-control" id="FechaLlegada" />
                                        <span asp-validation-for="@Model.Destino.FechaLlegada" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="@Model.Destino.Motivo" class="control-label">Motivo</label>
                                        <textarea asp-for="@Model.Destino.Motivo" rows="5" cols="50" class="form-control"
                                                  placeholder="Escribe el motivo del viaje..." id="Motivo"></textarea>
                                        <span asp-validation-for="@Model.Destino.Motivo" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-hover text-center" id="tabla">
                                            <thead>

                                                <tr>
                                                    <th>País destino</th>
                                                    <th>Ciudad Destino</th>
                                                    <th>Fecha de Salida</th>
                                                    <th>Fecha de Llegada</th>
                                                    <th>Motivo</th>
                                                    <th>Editar</th>
                                                    <th>Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblDestinos">

                                                @*@foreach (var destino in Model.Destinos)
                                                    {
                                                        <tr>
                                                            <td>@destino.Nombre</td>
                                                            <td>@destino.Descripcion</td>
                                                            <td>@destino.FechaSalida</td>
                                                            <td>@destino.FechaLlegada</td>
                                                            <td>@destino.Motivo</td>
                                                            <td>
                                                                <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="Edit" asp-route-Folio="@destino.Folio" id="accion">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }*@
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <br />


                        </form>
                    </div>
                    <div id="Gastos" class="container tab-pane fade">
                        <form id="formGastos">
                            <br>
                            <h3>Gastos</h3>
                            <input class="btn" id="Button" type="button" onclick="RegistrarGasto()" value="Agregar" />
                            <hr />
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <label asp-for="IdGasto" class="control-label">Concepto</label>
                                        <select asp-for="_Gasto.IdGasto" class="form-control input-sm concepto"
                                                asp-items="@(new SelectList(Model._Gastos, "IdGasto", "Nombre"))">
                                            <option value="0">-- Seleccione un concepto</option>
                                        </select>

                                        <span asp-validation-for="IdGasto" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="@Model.Gasto.ImporteSolicitado" class="control-label">Importe</label>
                                        <input asp-for="Gasto.ImporteSolicitado" class="form-control" id="ImporteGasto" />
                                        <span asp-validation-for="@Model.Gasto.ImporteSolicitado" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="ClaveMoneda" class="control-label">Moneda </label>
                                        <select asp-for="Gasto.ClaveMoneda" class="form-control input-sm MonedaGasto"
                                                asp-items="@(new SelectList(Model.Monedas, "ClaveMoneda", "Descripcion"))">
                                            <option value="">-- Seleccione una moneda</option>
                                        </select>

                                    </div>
                                    <div class="col"></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-4">
                                        <label asp-for="@Model.Gasto.TipoCambios" class="control-label">Tipo de Cambio</label>
                                        <input asp-for="Gasto.TipoCambios" class="form-control" id="TipoCambio" />
                                        <span asp-validation-for="@Model.Gasto.TipoCambios" class="text-danger"></span>

                                    </div>
                                    <div class="col"></div>

                                </div>
                                <br />
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-hover text-center">
                                            <thead>

                                                <tr>
                                                    <th>Concepto </th>
                                                    <th>Monto Máximo Permitido</th>
                                                    <th>Importe Solicitado </th>
                                                    <th>Moneda</th>
                                                    <th>Tipo de Cambio </th>
                                                    <th>Editar</th>
                                                    <th>Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tablaGastos">

                                                @*@foreach (var gasto in Model.Gastos)
                                                    {
                                                        <tr>
                                                            <td>@gasto.IdGastos</td>
                                                            <td>@gasto.Empresa</td>
                                                            <td>@gasto.Nombre</td>
                                                            <td>@gasto.MontoMaximo</td>
                                                            <td>@gasto.ImporteSolicitado</td>
                                                            <td>@gasto.Descripcion</td>
                                                            <td>@gasto.TipoCambios</td>
                                                            <td>
                                                                <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="Edit" asp-route-Folio="@gasto.IdGastos" id="accion">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                             </td>
                                                            <td>
                                                                <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="Edit" asp-route-Folio="@gasto.IdGastos" id="accion">
                                                                    <i class="fas fa-eraser"></i>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    }*@
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </form>
                        <br />
                    </div>

                </div>
            </div>

        </div>
    </div>
   
    <!-- Modal -->
    @*<div class="modal fade" id="dataModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="data">
                <div>
                    <input type="text" id="Destino"/>
                </div>
            </div>
        </div>
    </div>*@

</div>

<script type="text/javascript">
    var arr = [];
    var arrG = [];
    var arrS = [];
    function RegistrarGasto() {
        var IdGasto = $(".concepto").children("option:selected").val();
        var Nombre = $(".concepto").children("option:selected").text();
        var ImporteSolicitado = $("#ImporteGasto").val();
        var ClaveMoneda = $(".MonedaGasto").children("option:selected").val();
        var Descripcion = $(".MonedaGasto").children("option:selected").text();
        var TipoCambios = $("#TipoCambio").val();
        
        var row = "";
        var Importe; 
        console.log(IdGasto, ImporteSolicitado, ClaveMoneda);
        if (IdGasto == 0 || ImporteSolicitado == "" || ClaveMoneda == "" || TipoCambios=="") {
            alert("Favor de capturar datos correctamente");
        }
        else { 
            
            arrG.push({
                IdGasto: IdGasto,
                Nombre: Nombre,
                ImporteSolicitado: ImporteSolicitado,
                ClaveMoneda: ClaveMoneda,
                Descripcion: Descripcion,
                TipoCambios: TipoCambios
            });
            var res = 0; 
            for (var i = 0; i <= arrG.length - 1; i++) {
                res = res + parseInt(arrG[i]['ImporteSolicitado']);
                Importe = $("#Importe").val(res);
                console.log("Suma: "+res);
            }
            arrG.forEach((index, item) => {

                row += "<tr><td>" + arrG[item]["Nombre"] + "</td><td>" + 111 +
                    "</td><td>" + arrG[item]["ImporteSolicitado"] + "</td><td>" + arrG[item]["Descripcion"] + "</td><td>" + arrG[item]['TipoCambios'] +
                    "</td><td>" + "<a class='btn btn-lg' id='accion' onclick='Eliminar(" + item + ");'><i class='fas fa-edit'></i></a>" + "</td><td>" + "<a class='btn btn-lg'><i class='fas fa-eraser'></i></a>" + "</td></tr>";
            });

            $("#tablaGastos").html(row);
            IdGasto = $(".concepto").get(0).selectedIndex = 0;
            ImporteSolicitado = $("#ImporteGasto").val("");
            ClaveMoneda = $(".MonedaGasto").get(0).selectedIndex = 0;
            TipoCambios = $("#TipoCambio").val("");
        }

    }
    function RegistraDestino() {
        
        var IdEstado = $("#Estado").children("option:selected").val();
        var ClavePais = $(".Pais").children("option:selected").val();
        var IdCiudad = $("#Ciudad").children("option:selected").val(); 
        var Estado = $("#Estado").children("option:selected").text();
        var Pais = $(".Pais").children("option:selected").text();
        var Ciudad = $("#Ciudad").children("option:selected").text();
        var FechaSalida = $("#FechaSalida").val();
        var FechaLlegada = $("#FechaLlegada").val();
        var Motivo = $("#Motivo").val();
 
        
        if (IdEstado == "" || ClavePais == "" || IdCiudad == ""
            || IdEstado == "0" || ClavePais == "0" || IdCiudad == "0") {
            alert("Selecciona un destino válido");

        }
        else if (FechaSalida == "" || FechaSalida == "" || Motivo == "") {
            alert("Llenar todos los campos");
        }
        else {
            var row = "";
            arr.push({
                Estado: Estado,
                Pais: Pais,
                Ciudad: Ciudad,
                FechaSalida: FechaSalida,
                FechaLlegada: FechaLlegada,
                Motivo: Motivo,
                IdCiudad: IdCiudad,
                ClavePais: ClavePais,
                IdEstado: IdEstado
            }); 
            arr.forEach((index, item) => {

                row += "<tr><td>" + arr[item]["Pais"] + "</td><td>" + arr[item]["Ciudad"] +
                    "</td><td>" + arr[item]["FechaSalida"] + "</td><td>" + arr[item]["FechaLlegada"] + "</td><td>" + arr[item]['Motivo'] +
                    "</td><td>" + "<a class='btn btn-lg' id='accion'  data-toggle='modal' data-target='#exampleModalLong'  onclick='EliminarItem("+item+");'><i class='fas fa-edit'></i></a>" + "</td><td>" + "<a class='btn btn-lg'><i class='fas fa-eraser'></i></a>"+ "</td></tr>";
            });
            $("#tblDestinos").html(row);

            IdEstado = $("#Estado").get(0).selectedIndex=0;
            ClavePais = $(".Pais").get(0).selectedIndex = 0;
            IdCiudad = $("#Ciudad").get(0).selectedIndex = 0; 
            FechaSalida = $("#FechaSalida").val("");
            FechaLlegada = $("#FechaLlegada").val("");
            Motivo = $("#Motivo").val("");
        }
    }
    

    function RegistrarSolicitud() {
         
        var Moneda = $(".Moneda").children("option:selected").val();
        var Importe = $('#Importe').val();
        var Tipo = $('.Tipo').children("option:selected").val();
        var url = "/Solicitudes/Create/"; 
        var url2 = "/Solicitudes/CreateIncomplete/";

        var _Destino = arr;
        var _Gasto = arrG;
        var form = $("#formSolicitudes").serialize();
         
        arrS.push({
            ClaveMoneda: Moneda,
            ImporteSolicitado:Importe,
            IdTipoSolicitud:Tipo
        });

        var _solicitudes = arrS;

        var parameters = {
            _Destino,
            _Gasto,
            _solicitudes
        };
       
        if (Tipo == "") {
            alert("Favor de llenar los campos correctamente");
        }
        else if (arr.length == 0 || arrG.length == 0) {
            $.ajax({
                url: url2,
                data: form,
                type: "POST",
                cache: false,
                success: function (response) {
                    alert("La solicitud fue registrada.\nEstatus: Incompleta \nFolio: " + response + " \n\n*Registrar al menos un destino y gasto.");
                    window.location = "../";
                     
                },
                error: function (error) {
                    alert(error);
                }
            });
        }
        else {
           
            $.ajax({
                url: url,
                data: parameters,
                type: "POST",
                cache: false,
                success: function (response) {
                    alert("Solicitud registrada\nFolio: "+response);
                    window.location = "../";
                },
                error: function (error) {
                    alert(error);
                }
            });
        }
    }
        
    function SendData(Destino) {
        var url = "/Solicitudes/GuardarDestino/";
        debugger;
        Destino = arr;
        $.ajax({
            url: url,
            data: { Destino: Destino },
            type: "POST",
            cache: false,
            success: function (data) {
                console.log("JSON returned: ",data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function EliminarItem(item) { 
         
        var ele = [];
        ele = arr; 
        console.log(ele[item]['Ciudad'])

        var destino = $("#Destino").val();
        destino = ele[item]['Ciudad'];
         
        //$('#data').html(destino);
        //$('#dataModal').modal("show");


       //ele[item].pop(,);
       // console.log(ele);
        //datosFiltrados.find(det => det.Coord_Latitud === value.Coord_Latitud && det.Coord_Longitud === value.Coord_Longitud)) {
        //                     const { AcumGpo_IdGrupo, Age_Id, Cpol_Id_Poliza} = value;
        //                     datosFiltrados.push({
        //                         AcumGpo_IdGrupo, Age_Id, Cpol_Id_Poliza
        //                     });
    }

    function CargaEstados(ClavePais) {
        var url = "/Solicitudes/CargaEstados/";
        $('#Estado').css({ visibility: 'hidden' });
        $('#Ciudad').css({ visibility: 'hidden' });

        $('#newEstado').removeAttr('style');
        $('#newCiudad').removeAttr('style');

        $.ajax({
            url: url,
            data: {
                ClavePais: ClavePais
            },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.length > 0) {
                    $('#Estado').css({ visibility: 'visible ' });

                    var markup = "<option value='0'>Seleccione</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].idEstado + ">" + data[x].descripcion + "</option>";
                    }
                    $("#Estado").html(markup).show();

                    CargaCiudades(0);
                }
                else {
                    $('#Estado').css({ visibility: 'hidden' });
                    $('#Ciudad').css({ visibility: 'hidden' });
                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    function CargaCiudades(IdEstado) {
        var url = "/Solicitudes/CargaCiudades/";
        var ClavePais = $("#Pais_ClavePais").val();
        $('#Ciudad').css({ visibility: 'hidden' });
        $('#newCiudad').removeAttr('style');
        $.ajax({
            url: url,
            data: {
                ClavePais: ClavePais,
                IdEstado: IdEstado
            },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.length > 0) {
                    $('#Ciudad').css({ visibility: 'visible' });
                    $("#Ciudad").empty();
                    var markup = "<option value='0'>Seleccione</option>";
                    for (var x = 0; x < data.length; x++) {
                        //console.log(data[x]);
                        markup += "<option value=" + data[x].idCiudad + ">" + data[x].descripcion + "</option>";
                    }
                    $("#Ciudad").html(markup).show();
                } else {
                    $('#Ciudad').css({ visibility: 'hidden' });
                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>