@model TravelExpenses.ViewModels.SolicitudesViewModel
@{
    ViewData["Title"] = "create";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@*<div>

        @Html.ActionLink("Link","ListarDestinos","Solicitudes")


    @*<partial name="ListarDestinos" model="new TravelExpenses.Core.Destinos { }"/>*@
@*</div>*@
<h1>Create</h1>

<form asp-action="Create" method="post">
    <div class="text-left">
        <div class="card">
            <div class="card-header">
                Registro de solicitudes
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-2">
                        <label asp-for="@Model.Solicitud.IdTipoSolicitud" class="control-label">Concepto</label>
                    </div>
                    <div class="col-2">
                        <div class="form-group">

                            <select asp-for="IdTipoSolicitud" class="form-control input-sm"
                                    asp-items="@(new SelectList(Model.Solicitudes, "IdTipoSolicitud", "Descripcion"))"></select>
                            @Html.ValidationMessageFor(x => x.Solicitud, "", new { @class = "text-danger" })
                            <span asp-validation-for="@Model.Solicitud.IdTipoSolicitud" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        @*<label asp-for="@Model.Solicitud.Estatus" class="control-label">Estatus</label>*@
                    </div>
                    <div class="col-2">
                        @*<input asp-for="@Model.Solicitud.Estatus" class="form-control" value="SolicitudCapturada" readonly />
                        <span asp-validation-for="@Model.Solicitud.Estatus" class="text-danger"></span>*@

                    </div>
                    <div class="col-2"><label asp-for="@Model.Solicitud.Folio" class="control-label"></label></div>
                    <div class="col-2">
                        <input asp-for="@Model.Solicitud.Folio" class="form-control" required readonly value="@ViewBag.Sol" />
                        <span asp-validation-for="@Model.Solicitud.Folio" class="text-danger"></span>
                    </div>
                </div>
                <br />
                @* Another section *@
                <div class="row">

                    <div class="col-2">
                        @*<label asp-for="@Model.Solicitud.Id" class="control-label">Solicitante</label>*@
                    </div>
                    <div class="col-2"> 
                        @*<input asp-for="@Model.Solicitud.Id" required class="form-control" readonly value="angel.razo@gmail.com" />
                        <span asp-validation-for="@Model.Solicitud.Id" class="text-danger"></span>*@
                    </div>
                    <div class="col-2">
                        <label asp-for="@Model.Solicitud.ImporteSolicitado" class="control-label">Importe Solicitado</label>
                    </div>
                    <div class="col-2">

                        <input asp-for="@Model.Solicitud.ImporteSolicitado" required class="form-control" />
                        <span asp-validation-for="@Model.Solicitud.ImporteSolicitado" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        Moneda:
                    </div>
                    <div class="col-2"> 
                        <select asp-for="Moneda.ClaveMoneda" class="form-control input-sm"
                                asp-items="@(new SelectList(Model.Monedas, "ClaveMoneda", "Descripcion"))"></select>
                        @Html.ValidationMessageFor(x => x.Moneda, "", new { @class = "text-danger" })
                        <span asp-validation-for="@Model.Moneda.ClaveMoneda" class="text-danger"></span>

                       
                    </div>
                </div>
                <br />
                @* Another section *@
                <div class="row">
                    <div class="col-2">
                       
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-2">
                        @* <label asp-for="@Model.Solicitud.ImporteComprobado" class="control-label">Importe Comprobado</label>*@
                    </div>
                    <div class="col-2">
                        @*<input asp-for="@Model.Solicitud.ImporteComprobado" required class="form-control" />*@
                        @*<span asp-validation-for="@Model.Solicitud.ImporteComprobado" class="text-danger"></span>*@
                    </div>

                    <div class="col-2">
                      
                    </div>

                    <div class="col-2">
                        
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <h3 style="color:red;"> @ViewBag.Mensaje</h3>
                    <div class="row">
                        <div class="col-5">
                            <a href="~/" class="btn" id="Button">Cerrar</a>

                            <input type="submit" value="Guardar" class="btn" id="Button" />
                            @*<a href="#" class="btn" id="Button">Enviar a autorización</a>*@
                        </div>
                        <div class="col">
                            <h3>@ViewBag.Script</h3>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="container">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Destinos">Destinos</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Listar">Agregar Destinos</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Gastos">Gastos</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div id="Listar" class="container tab-pane fade">
                            <br>
                            @*<partial name="Add" />*@

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                           
                        </div>
                        <div id="Destinos" class="container tab-pane active">
                            <br>
                            <h3>Destinos</h3>
                            <a class="btn" id="Button" href="#">Agregar</a>
                            <hr />
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <label asp-for="ClavePais" class="control-label">País</label>
                                        <select asp-for="Pais.ClavePais" class="form-control input-sm" onchange="CargaEstados(this.value);" title="--Seleccione un país"
                                                asp-items="@(new SelectList(Model.Paises, "ClavePais", "Nombre"))">
                                            <option value="">--Seleccione un País</option>
                                        </select>
                                        @*<input asp-for="ClavePais" class="form-control" />*@
                                        <span asp-validation-for="ClavePais" class="text-danger">*</span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="IdEstado" class="control-label">Estado</label>
                                        <select asp-for="Estado.IdEstado" class="form-control input-sm" onchange="CargaCiudades(this.value);"
                                                asp-items="@(new SelectList(Model.Estados, "IdEstado", "Descripcion"))" id="Estado">
                                            <option value="">--Seleccione un Estado</option>
                                        </select>

                                        <span asp-validation-for="IdEstado" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="@Model.Destino.IdCiudad" class="control-label">Ciudad</label>
                                        <select asp-for="Ciudad.IdCiudad" class="form-control input-sm"
                                                asp-items="@(new SelectList(Model.Ciudades, "IdCiudad", "Descripcion"))" id="Ciudad">
                                            <option value="">--Seleccione una Ciudad</option>
                                        </select>
                                        <span asp-validation-for="@Model.Destino.IdCiudad" class="text-danger"></span>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label asp-for="@Model.Destino.FechaSalida" class="control-label">Fecha de Salida</label>
                                        <input asp-for="@Model.Destino.FechaSalida" class="form-control" />
                                        <span asp-validation-for="@Model.Destino.FechaSalida" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="@Model.Destino.FechaLlegada" class="control-label">Fecha de llegada</label>
                                        <input asp-for="Destino.FechaLlegada" class="form-control" />
                                        <span asp-validation-for="@Model.Destino.FechaLlegada" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="@Model.Destino.Motivo" class="control-label">Motivo</label>
                                        <textarea asp-for="@Model.Destino.Motivo" rows="5" cols="50" class="form-control"
                                                  placeholder="Escribe el motivo del viaje..."></textarea>
                                        <span asp-validation-for="@Model.Destino.Motivo" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-hover text-center">
                                            <thead>

                                                <tr>
                                                    <th>País destino</th>
                                                    <th>Ciudad Destino</th>
                                                    <th>Fecha de Salida</th>
                                                    <th>Fecha de Llegada</th>
                                                    <th>Motivo</th>
                                                    @*<th>Folio</th>*@
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var destino in Model.Destinos)
                                                {
                                                    <tr>
                                                        <td>@destino.Nombre</td>
                                                        <td>@destino.Descripcion</td>
                                                        <td>@destino.FechaSalida</td>
                                                        <td>@destino.FechaLlegada</td>
                                                        <td>@destino.Motivo</td>
                                                        @*<td>@destino.Folio</td>*@
                                                        <td>
                                                            <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="Edit" asp-route-Folio="@destino.Folio" id="accion">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <br />


                        </div>
                        <div id="Gastos" class="container tab-pane fade">
                            <br>
                            <h3>Gastos</h3>
                            <a class="btn" id="Button" >Agregar</a> 
                            <hr />
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <label asp-for="RFC" class="control-label">Empresa</label>
                                        <select asp-for="Empresa.RFC" class="form-control input-sm" title="--Seleccione una empresa"
                                                asp-items="@(new SelectList(Model.Empresas, "RFC", "Nombre"))">
                                            <option value="">--Seleccione una empresa</option>
                                        </select> 
                                        <span asp-validation-for="RFC" class="text-danger">*</span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="IdGasto" class="control-label">Concepto</label>
                                        <select asp-for="_Gasto.IdGasto" class="form-control input-sm"
                                                asp-items="@(new SelectList(Model._Gastos, "IdGasto", "Nombre"))">
                                            <option value="">--Seleccione un concepto</option>
                                        </select>

                                        <span asp-validation-for="IdGasto" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="@Model.Gasto.ImporteSolicitado" class="control-label">Importe</label>
                                        <input asp-for="Gasto.ImporteSolicitado" class="form-control" />
                                        <span asp-validation-for="@Model.Gasto.ImporteSolicitado" class="text-danger"></span>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-4">
                                        


                                        <label asp-for="ClaveMoneda" class="control-label">Moneda </label>
                                        <select asp-for="Gasto.ClaveMoneda" class="form-control input-sm"
                                                asp-items="@(new SelectList(Model.Monedas, "ClaveMoneda", "Descripcion"))"></select>
                                        @Html.ValidationMessageFor(x => x.Moneda, "", new { @class = "text-danger" })
                                        <span asp-validation-for="@Model.Gasto.ClaveMoneda" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="@Model.Gasto.TipoCambios" class="control-label">Tipo de Cambio</label>
                                        <input asp-for="Gasto.TipoCambios" class="form-control" />
                                        <span asp-validation-for="@Model.Gasto.TipoCambios" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                         
                                    </div>

                                </div>
                                <br />
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-hover text-center">
                                            <thead>

                                                <tr>
                                                    <th>#</th>
                                                    <th>Empresa </th>
                                                    <th>Concepto </th>
                                                    <th>Monto Máximo Permitido</th>
                                                    <th>Importe Solicitado </th>
                                                    <th>Moneda</th>
                                                    <th>Tipo de Cambio </th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var gasto in Model.Gastos)
                                                {
                                                <tr>
                                                    <td>@gasto.IdGastos</td>
                                                    <td>@gasto.Empresa</td>
                                                    <td>@gasto.Nombre</td>
                                                    <td>@gasto.MontoMaximo</td>
                                                    <td>@gasto.ImporteSolicitado</td>
                                                    <td>@gasto.Descripcion</td>
                                                    <td>@gasto.TipoCambios</td>
                                                    <td>
                                                        <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="Edit" asp-route-Folio="@gasto.IdGastos" id="accion">
                                                            <i class="fas fa-edit"></i>
                                                        </a>

                                                        <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="Edit" asp-route-Folio="@gasto.IdGastos" id="accion">
                                                            <i class="fas fa-eraser"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <br />
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    function CargaEstados(ClavePais) {
        var url = "/Solicitudes/CargaEstados/";
        $('#Estado').css({ visibility: 'hidden' });
        $('#Ciudad').css({ visibility: 'hidden' });

        $('#newEstado').removeAttr('style');
        $('#newCiudad').removeAttr('style');

        $.ajax({
            url: url,
            data: {
                ClavePais: ClavePais
            },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.length > 0) {
                    $('#Estado').css({ visibility: 'visible ' });

                    var markup = "<option value='0'>Seleccione</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].idEstado + ">" + data[x].descripcion + "</option>";
                    }
                    $("#Estado").html(markup).show();

                    CargaCiudades(0);
                }
                else {
                    $('#Estado').css({ visibility: 'hidden' });
                    $('#Ciudad').css({ visibility: 'hidden' });
                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    function CargaCiudades(IdEstado) {
        var url = "/Solicitudes/CargaCiudades/";
        var ClavePais = $("#Pais_ClavePais").val();
        $('#Ciudad').css({ visibility: 'hidden' });
        $('#newCiudad').removeAttr('style');
        $.ajax({
            url: url,
            data: {
                ClavePais: ClavePais,
                IdEstado: IdEstado
            },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.length > 0) {
                    $('#Ciudad').css({ visibility: 'visible' });
                    $("#Ciudad").empty();
                    var markup = "<option value='0'>Seleccione</option>";
                    for (var x = 0; x < data.length; x++) {
                        //console.log(data[x]);
                        markup += "<option value=" + data[x].idCiudad + ">" + data[x].descripcion + "</option>";
                    }
                    $("#Ciudad").html(markup).show();
                } else {
                    $('#Ciudad').css({ visibility: 'hidden' });
                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>