@model TravelExpenses.ViewModels.SolicitudesViewModel
@{
    ViewData["Title"] = "create";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@*<div>

        @Html.ActionLink("Link","ListarDestinos","Solicitudes")


    @*<partial name="ListarDestinos" model="new TravelExpenses.Core.Destinos { }"/>*@
@*</div>*@
<h1>Modificar</h1>

<form  id="FormSolicitudes">
    <div class="text-left">
        <div class="card">
            <div class="card-header">
                Registro de solicitudes
                
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-4">
                        <h3>
                            Folio: <u>@Model.Solicitud.Folio</u>  
                        </h3>
                    </div>
                    <div class="col-4">
                        @if (@Model.Solicitud.Estatus == "Incompleta")
                        {
                            <h3 style="color:red;">
                                Estatus: <u>@Model.Solicitud.Estatus</u>
                            </h3>
                        }
                        else
                        {
                            <h3>
                                Estatus: <u>@Model.Solicitud.Estatus</u>
                            </h3>
                        }
                    </div>
                    <div class="col"></div>
                </div>
                
                <br />
                <div class="row">
                    @if (@Model.Solicitud.Estatus == "Incompleta" || @Model.Solicitud.Estatus == "Capturada" || @Model.Solicitud.Estatus=="Rechazada")
                    {

                    <div class="col-4">
                        Concepto
                        
                        <select asp-for="@Model.Solicitud.IdTipoSolicitud" class="form-control input-sm Tipo" disabled
                                asp-items="@(new SelectList(Model.Solicitudes, "IdTipoSolicitud", "Descripcion" ))">
                             
                        </select>
                        <input asp-for="Solicitud.Folio" hidden id="folio" />

                    </div>
                        <div class="col-4">
                            Importe Solicitado
                            <input asp-for="@Model.Solicitud.ImporteSolicitadoC" disabled required class="form-control" id="Importe"/>

                        </div>
                        <div class="col-4">
                             
                        </div>
                    }
                    else
                    {
                        <div class="col-4">
                            Concepto: 
                            <input asp-for="Solicitud.Descripcion" value="@Model.Solicitud.Descripcion" class="form-control" disabled/> 

                        </div>
                        <div class="col-4">
                            Importe Solicitado
                            <input asp-for="Solicitud.Descripcion" value="@Model.Solicitud.ImporteSolicitadoC" class="form-control" disabled/> 
                        </div>
                        <div class="col-4">
                            @*Moneda:
                            <input asp-for="Moneda.Descripcion" value="@Model.Solicitud.MonedaNombre" class="form-control" disabled/>*@ 
                        </div>
                    }
                </div>
                <br />
                @* Another section *@

                <br />
                @* Another section *@

                <br />
                <div class="form-group">
                    <h3 style="color:red;"> @ViewBag.Mensaje</h3>
                    <div class="row">
                        <div class="col-5">
                            <a href="~/Home/ListarSolicitudes" class="btn" id="Button">Cerrar</a>

                            <input type="Button" value="Guardar" onclick="ModificarSolicitud()" class="btn" id="Button" disabled="@ViewBag.Deshabilitar" />
                            @*<a href="#" class="btn" id="Button">Enviar a autorización</a>*@
                        </div>
                        <div class="col">
                            <h3>@ViewBag.Script</h3>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="container">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Destinos">Destinos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Gastos">Gastos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Comentarios">Comentarios</a>
                        </li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">


                        <div id="Destinos" class="container tab-pane active">
                            <br>
                            <h3>Destinos</h3>
                            <input type="Button" value="Agregar" class="btn" id="Button" onclick="RegistrarDestino()" disabled="@ViewBag.Deshabilitar" />
                            <div class="container">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-hover text-center">
                                            <thead>

                                                <tr> 
                                                    <th>País destino</th>
                                                    <th>Ciudad Destino</th>
                                                    <th>Fecha de Salida</th>
                                                    <th>Fecha de Llegada</th>
                                                    <th>Motivo</th>

                                                    <th>Editar</th>
                                                    <th>Eliminar</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var destino in @Model.Destinos)
                                                {
                                                    <tr> 
                                                        <td>@destino.Nombre</td>
                                                        <td>@destino.Descripcion</td>
                                                        <td>@destino.FechaSalida.ToShortDateString()</td>
                                                        <td>@destino.FechaLlegada.ToShortDateString()</td>
                                                        <td>@destino.Motivo</td>
                                                        @*<td>@destino.Folio</td>*@
                                                        <td>
                                                            @if (@ViewBag.Deshabilitar == true)
                                                            {
                                                                <a class="btn btn-lg">
                                                                    <i class="fas fa-ban "></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="EditarDestino" asp-route-IdDestinos="@destino.IdDestinos" id="accion">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                            }
                                                        </td>

                                                        <td>
                                                            @if (@ViewBag.Deshabilitar == true)
                                                            {
                                                                <a class="btn btn-lg">
                                                                    <i class="fas fa-ban "></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-lg" onclick="EliminarDestino(@destino.IdDestinos)" id="accion" style="cursor:pointer">
                                                                    <i class="fas fa-eraser"></i>
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div id="Gastos" class="container tab-pane fade">
                            <br>
                            <h3>Gastos</h3>
                            <input type="Button" value="Agregar" class="btn" id="Button" onclick="RegistrarGasto()" disabled="@ViewBag.Deshabilitar" />
                            <div class="container">
                                <div class="table table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>

                                            <tr> 
                                                <th>Empresa</th>
                                                <th>Concepto</th>
                                                <th>Monto Máximo</th>
                                                <th>Importe Solicitado</th>
                                                <th>Cantidad comprobada</th>
                                                <th>Excedente / Faltante</th>
                                                <th>Moneda</th>
                                                <th>Tipo Cambio</th>
                                                <th>Editar</th>
                                                <th>Eliminar</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var g in @Model.Gastos)
                                            {
                                            <tr>
                                                <td>@g.Empresa</td>
                                                <td>@g.Nombre</td>


                                                <td>@string.Format("{0:C}", @g.MontoMaximo)</td>
                                                @if (@g.MontoMaximo < @g.ImporteSolicitado)
                                                {
                                                    <td style="color:red;">@string.Format("{0:C}", @g.ImporteSolicitado)</td>
                                                }
                                                else
                                                {
                                                    <td style="color:green;">@string.Format("{0:C}", @g.ImporteSolicitado)</td>
                                                }

                                                @if (@g.CantidadComprobada > @g.MontoMaximo)
                                                {
                                                    <td style="color:red;">@string.Format("{0:C}", @g.CantidadComprobada) </td>
                                                }
                                                else
                                                {
                                                    <td style="color:green;">@string.Format("{0:C}", @g.CantidadComprobada) </td>
                                                }
                                                @{
                                                    double res = @g.ImporteSolicitado - @g.CantidadComprobada;
                                                }
                                                @if (@res < @g.MontoMaximo)
                                                {
                                                    <td style="color:green;"> @string.Format("{0:C}", @res)</td>
                                                }
                                                else
                                                {
                                                    <td style="color:red;"> @string.Format("{0:C}", @res)</td>
                                                }
                                                <td>@g.Descripcion</td>
                                                <td>@g.TipoCambios</td>
                                                <td>
                                                    @if (@ViewBag.Deshabilitar == true)
                                                    {
                                                        <a class="btn btn-lg">
                                                            <i class="fas fa-ban "></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="EditarGastos" asp-route-IdGastos="@g.IdGastos" id="accion">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                    }
                                                </td>
                                                <td>
                                                    @if (@ViewBag.Deshabilitar == true)
                                                    {
                                                        <a class="btn btn-lg">
                                                            <i class="fas fa-ban "></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-lg" onclick="EliminarGasto(@g.IdGastos)" id="accion" style="cursor:pointer">
                                                            <i class="fas fa-eraser"></i>
                                                        </a>
                                                    }

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="Comentarios" class="container tab-pane fade">
                            <br>
                            <h3>Comentarios</h3>
                            
                            <div class="container">
                                <input value="Agregar" type="button" id="Button" class="btn" onclick="RegistrarComentario()" disabled="@ViewBag.Deshabilitar"/>
                                <div class="table table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>

                                            <tr>
                                                 
                                                <th>Comentario</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var g in @Model.comentarios)
                                            {
                                                <tr>
                                                     
                                                    <td>@g.Comentario</td>
                                                    
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</form> 
<script type="text/javascript">

    function RegistrarGasto() {
        var Folio = $("#folio").val();  
        window.location.href = "./RegistrarGasto?Folio=" + Folio;
    }

    function RegistrarComentario() {
        var Folio = $("#folio").val();
        window.location.href = "./Comentarios?Folio=" + Folio;
    }

    function RegistrarDestino() {
        var Folio = $("#folio").val();

        window.location.href = "./RegistrarDestino?Folio=" + Folio;

    }

    function ModificarSolicitud() {
        var Moneda = $(".Moneda").children("option:selected").val();
        var Importe = $("#Importe").children("option:selected").val();
        var Tipo = $(".Tipo").children("option:selected").val();
        var form = $("#FormSolicitudes").serialize();
        var Folio = $("#folio").val();
        var url = "/Solicitudes/ModificarSolicitud/";
        if (Moneda == "" || Importe=="" || Tipo=="") {
            alert("Favor de llenar todos los campos");
        }
        else {


            $.ajax({
                url: url,
                data: form,
                type: "POST",
                cache: false,
                success: function (response) {
                    alert("Solicitud actualizada");
                    window.location.href = "../Home/ListarSolicitudes";
                },
                error: function (error) {
                    alert("Error: " + error);
                    console.log(error);
                }

            });
        }
    }

    function EliminarDestino(IdDestinos) {
        
        var Folio = $("#folio").val(); 
        var url = "/Solicitudes/EliminarDestino/";
        $.ajax({
            url: url,
            data: { IdDestinos: IdDestinos },
            type: "POST",
            cache: false,
            success: function (response) {
                alert("Dato eliminado");
                window.location.href = "./Edit?Folio="+Folio;
            },
            error: function (error) {
                alert("Error: "+error); 
                console.log(error);
            }

        });
    }

    function EliminarGasto(IdGastos) {

        var Folio = $("#folio").val();
        var url = "/Solicitudes/EliminarGasto/";
        
        $.ajax({
            url: url,
            data: { IdGastos: IdGastos},
            type: "POST",
            cache: false,
            success: function (response) {
                alert("Dato eliminado");
                window.location.href = "./Edit?Folio=" + Folio;
            },
            error: function (error) {
                alert("Error: " + error);
                console.log(error);
            }

        });
    }

    function CargaEstados(ClavePais) {
        var url = "/Solicitudes/CargaEstados/";
        $('#Estado').css({ visibility: 'hidden' });
        $('#Ciudad').css({ visibility: 'hidden' });

        $('#newEstado').removeAttr('style');
        $('#newCiudad').removeAttr('style');

        $.ajax({
            url: url,
            data: {
                ClavePais: ClavePais
            },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.length > 0) {
                    $('#Estado').css({ visibility: 'visible ' });

                    var markup = "<option value='0'>Seleccione</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].idEstado + ">" + data[x].descripcion + "</option>";
                    }
                    $("#Estado").html(markup).show();

                    CargaCiudades(0);
                }
                else {
                    $('#Estado').css({ visibility: 'hidden' });
                    $('#Ciudad').css({ visibility: 'hidden' });
                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    function CargaCiudades(IdEstado) {
        var url = "/Solicitudes/CargaCiudades/";
        var ClavePais = $("#Pais_ClavePais").val();
        $('#Ciudad').css({ visibility: 'hidden' });
        $('#newCiudad').removeAttr('style');
        $.ajax({
            url: url,
            data: {
                ClavePais: ClavePais,
                IdEstado: IdEstado
            },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.length > 0) {
                    $('#Ciudad').css({ visibility: 'visible' });
                    $("#Ciudad").empty();
                    var markup = "<option value='0'>Seleccione</option>";
                    for (var x = 0; x < data.length; x++) {
                        //console.log(data[x]);
                        markup += "<option value=" + data[x].idCiudad + ">" + data[x].descripcion + "</option>";
                    }
                    $("#Ciudad").html(markup).show();
                } else {
                    $('#Ciudad').css({ visibility: 'hidden' });
                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>