@model TravelExpenses.ViewModels.RembolsoViewModel
<link rel="stylesheet" href="~/vendors/dropzone/dropzone.css">

<h1>Rembolso</h1>
<input type="hidden" asp-for="@Model.Comprobante.Folio" />
<div class="dropzone-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="dropdone-nk mg-t-30">
                    <div class="cmp-tb-hd">
                        <h2>Arrastre y suelte los documentos</h2>
                        <p>Solo puede subir archivos XML</p>
                    </div>
                    <div id="dropzone1" class="multi-uploader-cs">
                        <form action="/Rembolso/FileUpload" class="dropzone dropzone-nk needsclick" id="UploadFiles">
                            <div class="dz-message needsclick download-custom">
                                <i class="alert-info"></i>
                                <h2>Suelte los archivos a subir o de clic y agreguelos</h2>
                                <p>
                                    <span class="note needsclick">(Los archivos se guardan <strong>automaticamente</strong>)</span>
                                </p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Comprobantes</h1>
<div class="col-12 grid-margin stretch-card">
    <div class="card">

        <div class="card-body">
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Folio
                            </th>
                            <th>
                                UUID
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                RFC
                            </th>
                            <th>
                                Proveedor
                            </th>
                            <th>
                                Moneda
                            </th>
                            <th>
                                Subtotal
                            </th>
                            <th>
                                Impuestos
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Detalles
                            </th>
                            <th>
                                Eliminar
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblComprobantes">
                        @foreach (var comprobante in Model.Comprobantes)
                        {

                        <tr>
                            <td>@comprobante.Folio</td>
                            <td>@comprobante.UUID</td>
                            <td>@comprobante.Fecha</td>
                            <td>@comprobante.RFC</td>
                            <td>@comprobante.NombreProveedor</td>
                            <td>@comprobante.Moneda</td>
                            <td>@comprobante.SubTotal</td>
                            <td>@comprobante.Impuestos</td>
                            <td>@comprobante.Total</td>
                            <td>
                               
                            </td>
                            <td>
                               
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script src="~/vendors/dropzone/dropzone.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">


    Dropzone.options.UploadFiles = {
        addRemoveLinks: true,
        paramName: "file",
        maxFilesize: 2,
        maxFiles: 5,
        acceptedFiles: "text/xml, application/pdf,image/* ",
        uploadMultiple: false,
        dictMaxFilesExceeded: "El máximo permitido son 2 Mb",        
        init: function () {
            this.on("success", function (data)
            {
                var args = Array.prototype.slice.call(arguments);
                if (args[1].includes("ERROR"))
                {
                    alert(args[1]);
                    this.removeFile(data);
                }
                else
                {
                    alert("Archivo agregado");

                    console.log(args);
                    

                    var row = "";
                    $.each(args[1], function (index, item) {

                        console.log(item);
                        row += "<tr><td>" + item.uuid + "</td><td>" + item.folio + "</td><td>" + item.fecha + "</td><td>" + item.rfc + "</td><td>" + item.nombreProveedor + "</td><td>" + item.moneda + "</td><td>" + item.subTotal + "</td><td>" + item.impuestos + "</td><td>" + item.total + "</td><td><a class='btn btn - lg' href='/Rembolso/Details?UUID=" + item.uuid + "'><i class='fas fa-info-circle'></i></a></td><td><a class='btn btn - lg'><i class='fas fa-eraser'></i></a></td></tr>";
                    });
                    $("#tblComprobantes").html(row);  
                }
            });
        }
    };
 
    

</script>
