@model TravelExpenses.ViewModels.SolicitudesViewModel


@{
    ViewData["Title"] = "Rembolsos";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Reembolsos</h1>


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <a asp-controller="Rembolso" asp-action="Edit" class="btn btn-primary">Solicitar reembolso</a>
        <div class="card-body">
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Folio
                            </th>
                            <th>
                                Empresa
                            </th>
                            <th>
                                Solicitante
                            </th>
                            <th>
                                Fecha Solicitud
                            </th>
                            <th>
                                Importe Solicitado
                            </th>
                            <th>
                                Estatus
                            </th>
                            <th>
                                Editar
                            </th>
                        </tr>
                    </thead>
                        <tbody>
                            @foreach (var item in Model.Solicitudes)
                            {
                            <tr>
                                <td>@item.Folio</td>
                                <td>@item.Empresa</td>
                                <td>@item.UserName</td>
                                <td>@item.FechaSolicitud</td>
                                <td>@string.Format("{0:c}", item.ImporteSolicitado)</td>
                                <td>@item.Estatus</td>                                
                                <td>
                                    <a class="btn btn-lg" asp-controller="Rembolso" asp-action="Edit" asp-route-folio="@item.Folio">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
