@model TravelExpenses.ViewModels.SolicitudesViewModel
@{
    ViewData["Title"] = "ListarSolicitudes";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<style>
    #accion:hover {
        color: orange; 
    }
    #accion1:hover {
        color: red;
    }
    
    #Solicitudes {
        color: #272525;
    }

    #EnviarSolicitud {
        margin-bottom: 5px;
        margin-left: -4px;
        color: #272525;
        font-weight: 400;
        font-size: 15px !important;
        background-color: #F0EFEF;
        border: 1px solid #DEDCDC;
    }

        #EnviarSolicitud:hover {
            background-color: #BFBDBD;
        }
</style>

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
<div class="text-center">
    <div class="card">
        <div class="card-header" id="Solicitudes"><h3>Solicitudes</h3></div>
        <div class="card-body">
            <div class="container">
                <div class="row" id="seccionBtn">
                    
                    <div class="col-2"><a id="EnviarSolicitud" class="btn" asp-controller="Solicitudes" asp-action="create"><i class="mdi  mdi-pencil"></i>Agregar</a></div>
                    <div class="col-4">
                        <select asp-for="Estatus.IdEstatus" class="form-control input-sm" id="estatus" onchange="ObtenerSolcitudes()"
                                asp-items="@(new SelectList(Model.Estatuses, "IdEstatus", "Status"))">
                            <option value="">--Seleccionar estatus</option>
                            <option value="">Todo</option>
                        </select>
                    </div>
                    <div class="col"></div>
                </div>
                <br />
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Tipo Solicitud</th>
                            <th>Solicitante</th>
                            <th>Cantidad Solicitada</th>
                            <th>Cantidad Comprobada</th>
                            <th>Estatus</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                            <th>Enviar a<br />Autorización</th>
                        </tr>
                    </thead>
                    <tbody id="tblSolicitud">
                        @foreach (var item in Model.Solicitudes)
                        {
                        <tr>
                            <td>@item.Folio</td>
                            <td>@item.Descripcion</td>
                            <td>@item.UserName</td>
                            <td>@item.ImporteSolicitado </td>
                            <td>@item.ImporteComprobado </td>

                            <td>@item.Estatus</td>

                            <td>
                                <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="Edit" asp-route-Folio="@item.Folio" id="accion">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            @if (@item.Estatus == "Incompleta" || @item.Estatus == "Capturada")
                            {
                                <td>
                                    <a class="btn btn-lg" asp-controller="Home" asp-action="EliminarSolicitud" asp-route-Folio="@item.Folio" id="accion1">
                                        <i class="fas fa-eraser"></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a class="btn btn-lg">
                                        <i class="fas fa-ban "></i>
                                    </a>
                                </td>
                            }
                            @if (@item.Estatus == "Incompleta"|| @item.Estatus == "PorAutorizar" ||
                             @item.Estatus == "PorComprobar" || @item.Estatus == "PorLiberar"|| @item.Estatus == "Rechazada"|| @item.Estatus=="Cancelada"|| @item.Estatus == "Revisada")
                            {
                                <td>
                                    <a class="btn btn-lg">
                                        <i class="fas fa-ban "></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a class="btn btn-lg" asp-controller="Home" asp-action="ModificarEstatus" asp-route-Folio="@item.Folio">
                                        <i class="fas fa-paper-plane"></i>
                                    </a>
                                </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-12 text-center">
                    <ul class="pagination pagination-lg pager" id="developer_page"></ul>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    function ObtenerSolcitudes() {
        var estatus = $("#estatus").children("option:selected").text();
        var row = "";
        var url = "/Home/SolicitudesEstatus/";
        $.ajax({
            url: url,
            data: { estatus: estatus },
            type:"POST",
            cache: false,
            success: function (response) {
                var data = [];
                data = response;
                
                var row = "";
                if (data.length == 0) {
                    row += "<tr><td colspan='9'>" +"-- No existen registros --"+ "</td></tr>";
                }
                else {
                    $.each(response, function (index, item) {
                        if (item.estatus == "Incompleta" ) {
                            row += "<tr><td>" + item.folio + "</td><td>" + item.descripcion + "</td><td>" + item.userName + "</td><td>" +item.importeSolicitado + "</td><td>" + item.importeComprobado + "</td><td>" + item.estatus +
                                "</td><td>" + "<a class='btn btn-lg' href='/Solicitudes/Edit?Folio=" + item.folio + "'><i class='fas fa-edit'></i></a>" + "</td><td>" +
                                "<a class='btn btn-lg'  href='/Home/EliminarSolicitud?Folio=" + item.folio + "'><i class='fas fa-eraser'></i></a>" +
                                "</td><td>" + "<a class='btn btn-lg'><i class='fas fa-ban'></i></a>" + "</td></tr>";
                        }
                        else if (item.estatus == "PorAutorizar" || item.estatus == "PorComprobar" ||
                            item.estatus == "PorLiberar" || item.estatus == "Rechazada" || item.estatus == "Cancelada" || item.estatus =="Revisada")
                        {
                            row += "<tr><td>" + item.folio + "</td><td>" + item.descripcion + "</td><td>" + item.userName + "</td><td>" + item.importeSolicitado+"</td><td>"+ item.importeComprobado+ "</td><td>" + item.estatus +
                                "</td><td>" + "<a class='btn btn-lg' href='/Solicitudes/Edit?Folio=" + item.folio + "'><i class='fas fa-edit'></i></a>" + "</td><td>" +
                                "<a class='btn btn-lg' > <i class='fas fa-ban'></i></a >" +
                                "</td><td>" + "<a class='btn btn-lg'><i class='fas fa-ban'></i></a>" + "</td></tr>";
                        }
                        else if (item.estatus == "Capturada") {
                            row += "<tr><td>" + item.folio + "</td><td>" + item.descripcion + "</td><td>" + item.userName + "</td><td>"+ item.importeSolicitado+"</td><td>" + item.importeComprobado + "</td><td>" + item.estatus +
                                "</td><td>" + "<a class='btn btn-lg' href='/Solicitudes/Edit?Folio=" + item.folio + "'><i class='fas fa-edit'></i></a>" + "</td><td>" +
                                "<a class='btn btn-lg'  href='/Home/EliminarSolicitud?Folio=" + item.folio + "'><i class='fas fa-eraser'></i></a>" + "</td><td>" +
                                "<a class='btn btn-lg'  href='/Home/ModificarEstatus?Folio=" + item.folio + "'><i class='fas fa-paper-plane'></i></a>" + "</td></tr>";
                        }
                        

                        else {
                            row += "<tr><td>" + item.folio + "</td><td>" + item.descripcion + "</td><td>" + item.userName + "</td><td>"+ item.importeSolicitado+"</td><td>"+ item.importeComprobado + "</td><td>" + item.estatus +
                                "</td><td>" + "<a class='btn btn-lg' href='/Solicitudes/Edit?Folio=" + item.folio + "'><i class='fas fa-edit'></i></a>" + "</td><td>" +
                                "<a class='btn btn-lg'><i class='fas fa-ban'></i></a>" + "</td><td>" +
                                "<a class='btn btn-lg'  href='/Home/ModificarEstatus?Folio=" + item.folio + "'><i class='fas fa-paper-plane'></i></a>" + "</td></tr>";
                        }
                    });
                }
                $("#tblSolicitud").html(row); 
                
            },
            error: function (error) {
                alert("unknown error: ", error);
            }
        });
    }
    // Basic example
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            "pagingType": "simple", // "simple" option for 'Previous' and 'Next' buttons only
            
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>