@model TravelExpenses.ViewModels.SolicitudesViewModel
@{
    ViewData["Title"] = "ListarSolicitudes";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<style>
    #accion:hover {
        color: orange; 
    }
    #accion1:hover {
        color: red;
    }
    
    #Solicitudes {
        color: #272525;
    }

    #EnviarSolicitud {
        margin-bottom: 5px;
        margin-left: -4px;
        color: #272525;
        font-weight: 400;
        font-size: 15px !important;
        background-color: #F0EFEF;
        border: 1px solid #DEDCDC;
    }

        #EnviarSolicitud:hover {
            background-color: #BFBDBD;
        }
</style>

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
<div class="text-center">
    <div class="card">
        <div class="card-header" id="Solicitudes"><h3>Solicitudes</h3></div>
        <div class="card-body">
            <div class="container">
                <div class="row" id="seccionBtn">
                    @*<div class="col-2"><a id="EnviarSolicitud" class="btn" asp-page="/Solicitudes/Solicitudes"><i class="mdi  mdi-pencil"></i>Agregar</a></div>*@
                    <div class="col-2"><a id="EnviarSolicitud" class="btn" asp-controller="Solicitudes" asp-action="create"><i class="mdi  mdi-pencil"></i>Agregar</a></div>
                     
                    <div class="col"></div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped" id="dtBasicExample">
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Tipo Solicitud</th>
                            <th>Solicitante</th>
                            <th>Cantidad Solicitada</th>
                            <th>Cantidad Comprobada</th>
                            <th>Estatus</th>
                            <th>Acción</th>
                            <th>Enviar a<br />Autorización</th>
                        </tr>
                    </thead>
                    <tbody id="developers">
                        @foreach (var item in Model.Solicitudes)
                        {
                        <tr>
                            <td>@item.Folio</td>
                            <td>@item.Descripcion</td>
                            <td>@item.UserName</td>
                            <td>$@item.ImporteSolicitado @item.ClaveMoneda </td>
                            <td>$@item.ImporteComprobado @item.ClaveMoneda </td>

                            <td>@item.Estatus</td>

                            <td>
                                <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="Edit" asp-route-Folio="@item.Folio" id="accion">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-lg" asp-controller="Home" asp-action="EliminarSolicitud" asp-route-Folio="@item.Folio" id="accion1">
                                    <i class="fas fa-eraser"></i>
                                </a>
                            </td>
                            @if (@item.Estatus == "SolicitudIncomp")
                            {
                                <td>
                                    <a class="btn btn-lg" >
                                        <i class="fas fa-ban "></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a class="btn btn-lg" asp-controller="Home" asp-action="ModificarEstatus" asp-route-Folio="@item.Folio">
                                        <i class="fas fa-paper-plane"></i>
                                    </a>
                                </td>
                            }
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-12 text-center">
                    <ul class="pagination pagination-lg pager" id="developer_page"></ul>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    // Basic example
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            "pagingType": "simple", // "simple" option for 'Previous' and 'Next' buttons only
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>