@model TravelExpenses.ViewModels.ObservacionViewModel;
@*@mode TravelExpenses.ViewModels.ObservacionViewModel;*@

<link rel="stylesheet" href="~/vendors/dropzone/dropzone.css">
<h1>Detalles Comprobantes de aprobaciones</h1>
<div class="dropzone-area">
    <div class="container">
        @if (Model.Solicitud != null)
        {
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">Folio Solicitud: @Model.Solicitud.Folio</label>
                        <label class="control-label">Departamento: @Model.Solicitud.Departamento</label>
                        <label class="control-label">Importe Solicitado: </label> @String.Format("{0:C}", Model.Solicitud.ImporteSolicitado)
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <form method="post" asp-controller="Comprobacion" asp-action="Detalles">

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">Observación</label>
                            <input type="hidden" asp-for=@Model.Observacion.Folio class="form-control" required />
                            <input type="hidden" id="Operacion" name="Operacion" asp-for=@Model.Operacion class="form-control" required />
                            <textarea asp-for=@Model.Observacion.Descripcion rows="2" class="form-control" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col"></div>
                    <div class="col-md-2 mb-3">
                        <input type="submit" value="Aprobada" onclick="myFunction('1')" class="btn btn-primary" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <input type="submit" value="Rechazar" onclick="myFunction('0')" class="btn btn-primary" />
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <h3 style="color:red;"> @ViewBag.Mensaje</h3>
                <div class="row">
                    <div class="col-5">
                        <a asp-controller="Aprobador" asp-action="AprobarSolicitud" class="btn" id="Button">Cerrar</a>

                    </div>
                    <div class="col">
                        <h3>@ViewBag.Script</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="tab-content">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Destinos">Comprobantes </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Gastos">Gastos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Comentarios">Comentarios</a>
                        </li>

                    </ul>
                    <div id="Destinos" class="container tab-pane active">
                        <div class="table-responsive">

                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Folio
                                        </th>
                                        <th>
                                            UUID
                                        </th>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            RFC
                                        </th>
                                        <th>
                                            Proveedor
                                        </th>
                                        <th>
                                            Moneda
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                        <th>
                                            Importe Comprobado
                                        </th>
                                        <th>
                                            Detalles
                                        </th>
                                        <th>
                                            Descargar
                                        </th>
                                        <th>
                                            Abir PDF
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tblComprobantes">
                                    @if (Model.Comprobantes != null)
                                    {
                                        foreach (var comprobante in Model.Comprobantes)
                                        {
                                            <tr>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(comprobante.MensajeError))
                                                    {
                                                        <label class="alert-danger">comprobante.MensajeError</label>
                                                    }
                                                    @comprobante.Folio
                                                </td>
                                                <td>@comprobante.UUID</td>
                                                <td>@comprobante.Fecha.ToShortDateString()</td>
                                                <td>@comprobante.RFC</td>
                                                <td>@comprobante.NombreProveedor</td>
                                                <td>@comprobante.Moneda</td>
                                                <td>@string.Format("{0:C}", @comprobante.Total)</td>
                                                <td>@string.Format("{0:C}", @comprobante.ImporteComprobado)</td>
                                                <td align="center">
                                                    <a class="btn btn-lg" asp-controller="Comprobacion" asp-action="DetallesComprobacion" asp-route-UUID="@comprobante.UUID">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                </td>
                                                <td align="center">
                                                    <a class="btn btn-lg" asp-controller="Rembolso" asp-action="Download" asp-route-UUID="@comprobante.UUID">
                                                        <i class="fas fa-file-download"></i>
                                                    </a>
                                                </td>
                                                <td align="center">
                                                    @*@if (comprobante.Archivos.Find(archivo => archivo.UUID.Equals(comprobante.UUID)).Extension.Equals(".pdf"))
                                                    {*@
                                                        <a class="btn btn-lg" href="#" onclick="GetClientReport('@comprobante.Archivos.Find(archivo => archivo.UUID.Equals(comprobante.UUID)).Ruta.Replace('\\', '/')')">
                                                            <i class="fas fa-file-download"></i>
                                                        </a>
                                                    @*}
                                                    else
                                                    {
                                                        <a class="btn btn-lg">
                                                            <i class="fas fa-ban "></i>
                                                        </a>
                                                    }*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>


                            @*<table id="data-table-basic" class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            Folio
                        </th>
                        <th>
                            UUID
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            RFC
                        </th>
                        <th>
                            Proveedor
                        </th>
                        <th>
                            Moneda
                        </th>
                        <th>
                            Subtotal
                        </th>
                        <th>
                            Impuestos
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Detalles
                        </th>
                        <th>
                            Descargar
                        </th>
                    </tr>
                    </thead>
                    <tbody id="tblComprobantes">
                    @if (Model.Comprobantes != null)
                    {
                        foreach (var comprobante in Model.Comprobantes)
                        {
                            <tr>
                                <td>@comprobante.Folio</td>
                                <td>@comprobante.UUID</td>
                                <td>@comprobante.Fecha</td>
                                <td>@comprobante.RFC</td>
                                <td>@comprobante.NombreProveedor</td>
                                <td>@comprobante.Moneda</td>
                                <td>@string.Format("{0:C}", comprobante.SubTotal)</td>
                                <td>@string.Format("{0:C}", comprobante.Impuestos)</td>
                                <td>@string.Format("{0:C}", comprobante.Total)</td>
                                <td>
                                    <a class="btn btn-lg" asp-controller="Aprobador" asp-action="DetallesComprobacion" asp-route-UUID="@comprobante.UUID">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-lg" asp-controller="Rembolso" asp-action="Download" asp-route-UUID="@comprobante.UUID">
                                        <i class="fas fa-file-download"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>*@

                        </div>
                    </div>

                    <div id="Comentarios" class="container tab-pane fade">
                        <br>
                        <h3>Comentarios</h3>

                        <div class="table table-responsive">
                            <table class="table table-hover text-center">
                                <thead>

                                    <tr>
                                        <th>#</th>
                                        <th>Comentario</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var g in @Model.comentarios)
                                    {
                                        <tr>
                                            <td>@g.IdComentarios</td>
                                            <td>@g.Comentario</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="Gastos" class="container tab-pane fade">

                        <br>
                        <h3>Gastos</h3>

                        <div class="container">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>

                                            <tr>
                                                <th>Concepto </th>
                                                <th>Monto Máximo Permitido</th>
                                                <th>Importe Solicitado </th>
                                                <th>Importe Comprobado </th>
                                                <th>Moneda</th>
                                                <th>Tipo de Cambio </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var g in @Model.MisGastos)
                                            {
                                                <tr>

                                                    <td>@g.Nombre</td>


                                                    <td>@string.Format("{0:C}", @g.MontoMaximo)</td>
                                                    @if (@g.MontoMaximo < @g.ImporteSolicitado)
                                                    {
                                                        <td style="color:red;">@string.Format("{0:C}", @g.ImporteSolicitado)</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="color:green;">@string.Format("{0:C}", @g.ImporteSolicitado)</td>
                                                    }
                                                    <td>@string.Format("{0:C}", @g.CantidadComprobada) </td>
                                                    <td>@g.Descripcion</td>
                                                    <td>@g.TipoCambios</td>


                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                        <br />
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function myFunction(a) {
        document.getElementById("Operacion").value = a;
    }
    function GetClientReport(n) {
        window.open('/Aprobador/GetReport?Ruta=' + n);
    }; /*
    function GetClientReport(n) {
        debugger;
        window.open('/Aprobador/GetReport', n);
    };  */
</script>

<script src="~/vendors/dropzone/dropzone.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>