@model TravelExpenses.ViewModels.ObservacionViewModel
@{
    ViewData["Title"] = "create";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Detalles Comprobantes de aprobaciones</h1>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <form method="post" asp-controller="Comprobacion" asp-action="Detalles">

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">Observación</label>
                            <input type="hidden" asp-for=@Model.Observacion.Folio class="form-control" required />
                            <input type="hidden" id="Operacion" name="Operacion" asp-for=@Model.Operacion class="form-control" required />
                            <textarea asp-for=@Model.Observacion.Descripcion rows="2" class="form-control" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col"></div>
                    <div class="col-md-2 mb-3">
                        <input type="submit" value="Aprobada" onclick="myFunction('1')" class="btn btn-primary" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <input type="submit" value="Rechazar" onclick="myFunction('0')" class="btn btn-primary" />
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<div class="text-left">
    <div class="card">
        <div class="card-header">
            Registro de solicitudes

        </div>
        <div class="card-body ">
            <div class="row">
                <div class="col-4">
                    <h3>
                        Folio: <u>@Model.Solicitud.Folio</u>
                    </h3>
                </div>
                <div class="col-4">
                    @if (@Model.Solicitud.Estatus == "Incompleta")
                    {
                        <h3 style="color:red;">
                            Estatus: <u>@Model.Solicitud.Estatus</u>
                        </h3>
                    }
                    else
                    {
                        <h3>
                            Estatus: <u>@Model.Solicitud.Estatus</u>
                        </h3>
                    }
                </div>
                <div class="col"></div>
            </div>

            <br />
            <div class="row">
                @if (@Model.Solicitud.Estatus == "Incompleta" || @Model.Solicitud.Estatus == "Capturada")
                {

                    <div class="col-4">
                        Concepto
                        <select asp-for="IdTipoSolicitud" class="form-control input-sm Tipo"
                                asp-items="@(new SelectList(Model.Solicitudes, "IdTipoSolicitud", "Descripcion"))">
                            <option value="">-- Seleccione una concepto</option>

                        </select>
                        <input asp-for="Solicitud.Folio" hidden id="folio" />

                    </div>
                    <div class="col-4">
                        Importe Solicitado
                        <input asp-for="@Model.Solicitud.ImporteSolicitado" disabled required class="form-control" id="Importe" />

                    </div>
                    <div class="col-4">
                        @*Moneda:*@
                        @*<select asp-for="Moneda.ClaveMoneda" class="form-control input-sm Moneda"
                                    asp-items="@(new SelectList(Model.Monedas, "ClaveMoneda", "Descripcion"))">
                                <option value="">--Selecciona una moneda</option>
                            </select>*@
                    </div>
                }
                else
                {
                    <div class="col-4">
                        Concepto:
                        <input asp-for="Solicitud.Descripcion" value="@Model.Solicitud.Descripcion" class="form-control" disabled />

                    </div>
                    <div class="col-4">
                        Importe Solicitado
                        <input asp-for="Solicitud.Descripcion" value="@Model.Solicitud.ImporteSolicitado" class="form-control" disabled />
                    </div>
                    <div class="col-4">
                        @*Moneda:
                            <input asp-for="Moneda.Descripcion" value="@Model.Solicitud.MonedaNombre" class="form-control" disabled/>*@
                    </div>
                }
            </div>
            <br />
            @* Another section *@

            <br />
            @* Another section *@

            <br />

            <hr />
            <div class="container">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Destinos">Destinos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Gastos">Gastos</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">


                    <div id="Destinos" class="container tab-pane active">
                        <br>
                        <h3>Destinos</h3>
                        <input type="Button" value="Agregar" class="btn" id="Button" onclick="RegistrarDestino()" disabled="@ViewBag.Deshabilitar" />
                        <div class="container">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>

                                            <tr>
                                                <th>#</th>
                                                <th>País destino</th>
                                                <th>Ciudad Destino</th>
                                                <th>Fecha de Salida</th>
                                                <th>Fecha de Llegada</th>
                                                <th>Motivo</th>

                                                <th>Editar</th>
                                                <th>Eliminar</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var destino in @Model.Destinos)
                                            {
                                                <tr>
                                                    <td>@destino.IdDestinos</td>
                                                    <td>@destino.Nombre</td>
                                                    <td>@destino.Descripcion</td>
                                                    <td>@destino.FechaSalida.ToString("dd/MM/yyy")</td>
                                                    <td>@destino.FechaLlegada.ToString("dd/MM/yyy")</td>
                                                    <td>@destino.Motivo</td>
                                                    @*<td>@destino.Folio</td>*@
                                                    <td>
                                                        @if (@ViewBag.Deshabilitar == true)
                                                        {
                                                            <a class="btn btn-lg">
                                                                <i class="fas fa-ban "></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="EditarDestino" asp-route-IdDestinos="@destino.IdDestinos" id="accion">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                        }
                                                    </td>

                                                    <td>
                                                        @if (@ViewBag.Deshabilitar == true)
                                                        {
                                                            <a class="btn btn-lg">
                                                                <i class="fas fa-ban "></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-lg" onclick="EliminarDestino(@destino.IdDestinos)" id="accion">
                                                                <i class="fas fa-eraser"></i>
                                                            </a>
                                                        }
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div id="Gastos" class="container tab-pane fade">
                        <br>
                        <h3>Gastos</h3>
                        <input type="Button" value="Agregar" class="btn" id="Button" onclick="RegistrarGasto()" disabled="@ViewBag.Deshabilitar" />
                        <div class="container">
                            <div class="table table-responsive">
                                <table class="table table-hover text-center">
                                    <thead>

                                        <tr>
                                            <th>#</th>
                                            <th>Empresa</th>
                                            <th>Concepto</th>
                                            <th>Monto Máximo</th>
                                            <th>Importe Solicitado</th>
                                            <th>Descripcion</th>
                                            <th>Tipo Cambio</th>
                                            <th>Editar</th>
                                            <th>Eliminar</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var g in @Model._GastosA)
                                        {
                                            <tr>
                                                <td>@g.IdGastos</td>
                                                <td>@g.Empresa</td>
                                                <td>@g.Nombre</td>


                                                <td>@g.MontoMaximo</td>
                                                @if (@g.MontoMaximo < @g.ImporteSolicitado)
                                                {
                                                    <td style="color:red;">@g.ImporteSolicitado</td>
                                                }
                                                else
                                                {
                                                    <td style="color:green;">@g.ImporteSolicitado</td>
                                                }
                                                <td>@g.Descripcion</td>
                                                <td>@g.TipoCambios</td>
                                                <td>
                                                    @if (@ViewBag.Deshabilitar == true)
                                                    {
                                                        <a class="btn btn-lg">
                                                            <i class="fas fa-ban "></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-lg" asp-controller="Solicitudes" asp-action="EditarGastos" asp-route-IdGastos="@g.IdGastos" id="accion">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                    }
                                                </td>
                                                <td>
                                                    @if (@ViewBag.Deshabilitar == true)
                                                    {
                                                        <a class="btn btn-lg">
                                                            <i class="fas fa-ban "></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-lg" onclick="EliminarGasto(@g.IdGastos)" id="accion">
                                                            <i class="fas fa-eraser"></i>
                                                        </a>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

<script>
    function myFunction(a) {
        document.getElementById("Operacion").value = a;
    }
</script>