@page
@model TravelExpenses.Pages.Requests.SolicitudesModel
@{
    ViewData["Title"] = "Solicitudes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<style>

    /*tr th {
        color: #272525;
        font-size: 15px !important;

    }

    table, td {
        border: 2px double #D9D7D7;
    }

        table thead tr th {
            border: 2px solid #D9D7D7;
        }

        table thead {
            background-color: #F0EFEF;

        }

    #Button {
        margin-bottom: 5px;
        margin-left: -4px;
        color: #272525;
        font-weight: 400;
        font-size: 15px !important;
        background-color: #F0EFEF;
        border: 1px solid #DEDCDC;
        margin-left: 5px;
    }

    #btnCancelar {
        margin-bottom: 5px;
        margin-left: -4px;
        color: #F0EDED;
        font-weight: 400;
        font-size: 15px !important;
        background-color: #F89C9C;
        border: 1px solid #F7F3F3;
        margin-left: 5px;
    }

    #fechas {
        margin-left: -58px;
        height: 34px;
        background-color: #F1EFEF;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #C9C9C9;
    }

    .form-control {
        padding-left: 10px;
        padding-right: 10px;
        height: 34px;
        background-color: #F1EFEF;
        border: 1px solid #C9C9C9;
    }

    #textarea {
        padding-top: 10px;
        margin-left: -58px;
    }

    #disabled {
        cursor: not-allowed;
    }*/
</style>
@*@using (Html.BeginForm(FormMethod.Post))
    {*@

<div class="text-left">
    <div class="card">
        <div class="card-header">
            Registro de solicitudes
        </div>
        <div class="card-body ">
            <div class="row">
                <div class="col-2">
                    Tipo:
                </div>
                <div class="col-2">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle"
                           href="#" role="button" id="Button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">

                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">action</a>
                            <a class="dropdown-item" href="#">another action</a>
                            <a class="dropdown-item" href="#">something else here</a>
                        </div>
                    </div>
                </div>
                <div class="col-2">Estatus:</div>
                <div class="col-2">
                    <input type="text" class="form-control" value="Solicitud capturada" disabled />
                </div>
                <div class="col-2">Folio:</div>
                <div class="col-2">
                    <input type="text" class="form-control" value="F001" disabled id="disabled" />
                </div>
            </div>
            <br />
            @* Another section *@
            <div class="row">
                <div class="col-2">
                    Departamento:
                </div>
                <div class="col-2">
                   @* @Html.DropDownListFor(x => x.Deptos, new SelectList(Model.Deptos, "IdDepto", "Nombre"), htmlAttributes: new { @class = "form-control", id = "Button" })*@

                </div>
                <div class="col-2">Solicitante:</div>
                <div class="col-2">
                    <input type="text" class="form-control" disabled value="Luis Mario Díaz" id="disabled" />
                </div>
                <div class="col-2">Número acreedor:</div>
                <div class="col-2">
                    <input type="text" class="form-control" disabled value="17" id="disabled" />
                </div>
            </div>
            <br />
            @* Another section *@
            <div class="row">
                <div class="col-2">
                    Cantidad requerida
                </div>
                <div class="col-2">
                    <input type="text" class="form-control" />
                </div>
                <div class="col-2">
                    Suma de los comprobantes
                </div>
                <div class="col-2">
                    <input type="text" class="form-control" />
                </div>

                <div class="col-2">
                    Moneda:
                </div>

                <div class="col-2">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <hr />
            <div class="container">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Destinos">Destinos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Anticipos">Anticipos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Imputacion">Gastos</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="Destinos" class="container tab-pane active">
                        <br>
                        <h3>Destinos</h3>
                        <div class="container">
                            <div class="row">

                                <div class="col-5">
                                    <button class="btn" id="Button" data-toggle="modal"
                                            data-target="#exampleModal" data-backdrop="static"
                                            data-keyboard="false">
                                        Agregar
                                    </button>
                                    <button href="#" class="btn" id="Button" data-toggle="modal"
                                            data-target="#exampleModal" data-backdrop="static"
                                            data-keyboard="false">
                                        Editar
                                    </button>
                                    <button href="#" class="btn" id="Button" disabled>Eliminar</button>
                                </div>
                                <div class="col"></div>
                            </div>


                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>

                                            <tr>
                                                <th>País destino</th>
                                                <th>Ciudad Destino</th>
                                                <th>Fecha de Salida</th>
                                                <th>Fecha de Llegada</th>
                                                <th>Motivo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@foreach (var destino in Model._Solicitudes)*@
                                            
                                                <tr>
                                                    @*<td>@destino.Nombre</td>
                                                    <td>@destino.Estado</td>
                                                    <td>@destino.FechaSalida</td>
                                                    <td>@destino.FechaLlegada</td>
                                                    <td>@destino.Descripcion</td>*@
                                                </tr>
                                            

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div id="Anticipos" class="container tab-pane fade">
                        <br>
                        <h3>Anticipos</h3>

                    </div>
                    <div id="Imputacion" class="container tab-pane fade">
                        <br>
                        <h3>Imputación a centros de Costo</h3>

                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <a href="#" class="btn" id="Button">Cerrar</a>
                        <input type="submit" class="btn" id="Button" asp-controller="/Solicitudes" asp-action="ListarSolicitudes" asp-route-IdSolicitudes="1" value="Guardar">
                        <a href="#" class="btn" id="Button">Enviar a autorización</a>
                    </div>
                    <div class="col"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar destino</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-2">
                            País de destino
                        </div>
                        <div class="col-4">
                            @Html.DropDownListFor(x => Model.Paises, new SelectList(Model.Paises, "ClavePais", "Nombre"), htmlAttributes: new { @class = "form-control", id = "Pais" })

                            <span class="text-danger" asp-validation-for="Paises"></span>
                        </div>

                        <div class="col-2">
                            Ciudad Destino
                        </div>
                        <div class="col-4">
                            @Html.DropDownListFor(x => Model.Estados, new SelectList(Model.Estados, "IdEstado", "NombreEstado"), htmlAttributes: new { @class = "form-control", id = "Estado" })
                            <span class="text-danger" asp-validation-for="Ciudad.Estado"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                            Fecha salida:
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" id="fechas" />
                        </div>
                        <div class="col-3">
                            Fecha llegada:
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" id="datepicker" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                            Motivo del viaje:
                        </div>
                        <div class="col-3">
                            @*<input asp-for="Solicitudes.Motivo" class="form-control" />*@
                            <textarea class="form-control" rows="2" cols="2" id="textarea"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn" id="Button">Guardar</button>
                <button type="button" class="btn" data-dismiss="modal" id="btnCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@*}*@





@**<form asp-action="Create">
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Solicitud.Folio" class="control-label"></label>
                <input asp-for="@Model.Solicitud.Folio" class="form-control" />
                <span asp-validation-for="@Model.Solicitud.Folio" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Solicitud.IdTipoSolicitud" class="control-label">Tipo de Solicitud</label>
                <select asp-for="Solicitud" class="form-control input-sm"
                        asp-items="@(new SelectList(Model.Solicitudes, "IdTipoSolicitud", "Descripcion"))"><option>Selecciona una opción</option></select>
                <span asp-validation-for="@Model.Solicitud.IdTipoSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Solicitud.Departamento" class="control-label">Departamento</label>
                <input asp-for="@Model.Solicitud.Departamento" class="form-control" />
                <span asp-validation-for="@Model.Solicitud.Departamento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Solicitud.ImporteSolicitado" class="control-label">Importe Solicitado</label>
                <input asp-for="@Model.Solicitud.ImporteSolicitado" class="form-control" />
                <span asp-validation-for="@Model.Solicitud.ImporteSolicitado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Solicitud." class="control-label">Importe Comprobado</label>
                <input asp-for="@Model.Solicitud.ImporteComprobado" class="form-control" />
                <span asp-validation-for="@Model.Solicitud.ImporteComprobado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Solicitud.Estatus" class="control-label">Estatus</label>
                <input asp-for="@Model.Solicitud.Estatus" class="form-control" />
                <span asp-validation-for="@Model.Solicitud.Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Solicitud.Id" class="control-label">Usuario</label>
                <input asp-for="@Model.Solicitud.Id" class="form-control" />
                <span asp-validation-for="@Model.Solicitud.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Solicitud.RFC" class="control-label">RFC</label>
                <input asp-for="@Model.Solicitud.RFC" class="form-control" />
                <span asp-validation-for="@Model.Solicitud.RFC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@



@*<h4>Solicitud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
      
        <form asp-action="RegistrarDestino">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <label asp-for="@Model.Destino.ClavePais" class="control-label">País de destino</label>
                <select name="ClavePais" asp-for="Pais" class="form-control input-sm"
                        asp-items="@(new SelectList(Model.Paises, "ClavePais", "Nombre"))"><option>Selecciona una opción</option></select>
                <span asp-validation-for="@Model.Destino.ClavePais" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Destino.IdEstado" class="control-label">Estado</label>
                <select asp-for="Estado" class="form-control input-sm"
                        asp-items="@(new SelectList(Model.Estados, "IdEstado", "NombreEstado"))"><option>Selecciona una opción</option></select>
                <span asp-validation-for="@Model.Destino.IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" @Model.Destino.IdCiudad" class="control-label">Ciudad</label>
                <select asp-for="Ciudad" class="form-control input-sm"
                        asp-items="@(new SelectList(Model.Ciudades, "IdCiudad", "Ciudad"))"><option>Selecciona una opción</option></select>
                <span asp-validation-for=" @Model.Destino.IdCiudad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for=" @Model.Destino.Motivo" class="control-label"></label>
                <input asp-for=" @Model.Destino.Motivo" class="form-control" />
                <span asp-validation-for=" @Model.Destino.Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" @Model.Destino.FechaSalida" class="control-label">Fecha Salida</label>
                <input asp-for=" @Model.Destino.FechaSalida" class="form-control" />
                <span asp-validation-for=" @Model.Destino.FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" @Model.Destino.FechaLlegada" class="control-label">Fecha Llegada</label>
                <input asp-for=" @Model.Destino.FechaLlegada" class="form-control" />
                <span asp-validation-for=" @Model.Destino.FechaLlegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" @Model.Destino.Folio" class="control-label"></label>
                <input asp-for=" @Model.Destino.Folio" class="form-control" />
                <span asp-validation-for=" @Model.Destino.Folio" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@
 