@model TravelExpenses.ViewModels.CentroCostoEmpresaViewModel
@{
    ViewData["Title"] = "Centro de Costos";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Centro de Costos - Empresa</h1>

<form asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="form-group">
                        <label class="control-label">Empresa</label>
                        <select asp-for="Empresa" class="form-control input-sm" onchange="CargaCentroCostoEmpresa(this.value)"
                                asp-items="@(new SelectList(Model.Empresas, "RFC", "Nombre"))">
                            <option value="">--Seleccione una Empresa</option>
                        </select>
                        @Html.ValidationMessageFor(x => x.Empresa, "", new { @class = "text-danger" })

                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                    <table id="data-table-basic" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Asignar
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tblCentrosCosto">
                            @{
                                for (int i = 0; i < Model.CentroCostos.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            <input asp-for="@Model.CentroCostos[i].ClaveCentroCosto" type="hidden"  id="CentroCosto"/>
                                            @Model.CentroCostos[i].Nombre
                                        </td>
                                        <td>
                                            <input asp-for="@Model.CentroCostos[i].checkboxAnswer" type="checkbox"/>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    function CargaCentroCostoEmpresa(RFC) {
        var url = "/CentroCostoEmpresa/CargaCentroCostoEmpresa/";

        $.ajax({
            url: url,
            data: { RFC: RFC },
            cache: false,
            type: "POST",
            success: function (data) {

                if (data.length > 0) {
                    var row = "";

                   
                    $('#tblCentrosCosto tr').each(function () {
                        var centroCosto = $(this).find(":hidden").val();
                        var check = $(this).find("input[type=checkbox]")

                        $.each(data, function (index, item) {
                            if (item.claveCentroCosto == centroCosto && item.checkboxAnswer == true) {
                                
                                check.prop('checked', true);
                            }
                        });

                    });
                    //$.each(data, function (index, item) {



                    //    if (item.checkboxAnswer === true) {
                    //        row += "<tr><td><input asp-for='"+ item.claveCentroCosto +"' type='hidden' />" + item.nombre + "</td><td><input type='checkbox' checked='" + item.checkboxAnswer + "'/></td></tr>";
                    //    }
                    //    else {
                    //        row += "<tr><td>" + item.nombre + "</td><td><input type='checkbox'/></td></tr>";
                    //    }
                    //});
                    //$("#tblCentrosCosto").html(row);
                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>